/********** common setting **********/
body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-family: 'sans-serif', sans-serif !important;
}
.txtgrdnt {
            background: -webkit-linear-gradient(#3a60ff, #aa2fff);
            /* background: -webkit-linear-gradient(#3a60ff, #3a60ff); */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
}
h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}
h3{  
    color: #ffffff !important;
}
img {
    display: block;
    max-width: 100%;
}
video {
    max-width: 80%;
    float: left;
    /* box-shadow: 0 0px 100px rgba(14, 38, 172, 0.2); */
    box-shadow: 0 0px 100px rgba(0, 0, 0, 0.2);

}

a,
button {
    cursor: pointer;
}
.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #ffffff;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #5e50ff;

}

.cta-blue {
    /* background: #192440;
    color: #ffffff; */
    background: #7c7c7c;
    color: #ffffff;
}

.cta-blue:hover {
    /* color: #ffffff;
    background: #121a2e; */
    color: #ffffff;
    background: #5e50ff;

}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}

#banner {
    background-size: cover;
}
/********** feature (skew background) **********/
.feature img {
    margin-left: 0!important;
    /* width: 65%; */
    /* max-width: 600px; */
}

#feature-first {
    background: #ffffff;
    /* background: linear-gradient(168deg, #ffffff 55%, #7c7c7c 0); */
    /* background: linear-gradient(to top, #7c7c7c 0%, #ffffff 100%); */

}
#feature-first1 {
    background: #ffffff;
    /* background-color: #cfcfcf; */
    /* background: linear-gradient(168deg, #ffffff 55%, #7c7c7c 0); */
    /* background: linear-gradient(to bottom, #cfcfcf 100%, #ffffff 0%); */

}
#feature-last {
    background: #ffffff;
    /* background: #cfcfcf; */
    /* background: linear-gradient(to bottom, #ffffff 0%, #cfcfcf  100%); */

}
#feature-last1 {
    background: #ffffff;
    /* background-color: #cfcfcf; */
}

#onzeMissie {
    background: #ffffff;
    /* background: #9e9e9e; */
    /* background: linear-gradient(#cfcfcf 0%, #ffffff 100%); */
}
/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#price-table__premium {
    background: #192440;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    background-size: cover;
    background-color: #7c7c7c; 
    border-top-right-radius: 10em;
    box-shadow: 10px 10px 10px #333;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #ffffff;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: transparent;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #4840bb;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}
/* Over ons */
.overons {
    text-align: center;
}
.lnk {
    color: white;
}
/********** RWD **********/
@media (max-width: 1000px) {
    #banner h1 {
        font-size: 3.6rem;
    }
    #banner {
        background-position: 25%;
    }
    html, body {
        overflow-x: hidden;
    }
    .logo {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .feature img {
        margin-left: auto!important;
        margin-right: auto!important;
    }
    html, video {
        float: none;
    }
}
html {
    scroll-behavior: smooth;
}

