/* CSS voor mobiele weergave (bijv. schermgrootte kleiner dan 768px) */
@media (max-width: 1000px) {
  /* Verberg de standaard navigatielinks */
  .nav-links {
      display: none;
  }
  
  /* Toon de hamburger-menuknop */
  .hamburger-menu {
      display: block;
  }
}

/* Standaard CSS-stijlen (voor niet-mobiele weergave) */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger-menu {
  display: none; /* Verberg de hamburgermenuknop standaard */
  cursor: pointer;
  padding: 10px; /* Voeg wat ruimte toe voor klikbaarheid */
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 5px 0; /* Ruimte tussen de strepen */
}
