.navigatie {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  padding: 20px 15px;
}

.nav-links li {
  list-style: none;
  margin: 0 12px;
  position: relative; /* Nodig voor de dropdown-menu positionering */
}

.nav-links li a {
  position: relative;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 0;
  text-decoration: none;
  transition: color 0.3s ease; /* Voor een vloeiende hover-kleur */
}

.nav-links li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #2900f5;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.nav-links li a:hover:before {
  width: 100%;
}

.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li.upward a:before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}

.nav-links li.upward a:hover:before {
  bottom: 0px;
  opacity: 1;
}

.nav-links li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Verwijder het witte kader en pas de hover-effecten aan */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: transparent; /* Verwijder de achtergrondkleur */
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  display: block;
  padding: 6px 0; /* Zelfde padding als de normale navigatie items */
  color: #000000;
  font-size: 20px; /* Zelfde font-size als de normale navigatie items */
  font-weight: bold; /* Zelfde font-weight als de normale navigatie items */
  text-decoration: none;
  transition: color 0.3s ease; /* Voor een vloeiende hover-kleur */
  position: relative;
  border: none;
}

.dropdown-menu a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #2900f5;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.dropdown-menu a:hover:before {
  width: 100%;
}

.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}

/* Dropdown-menu styling */
.nav-links li.dropdown:hover .dropdown-menu {
  display: block;
}